extends ../layout

block content
    h2.The number of comments is #{data.comments.length}
    ul
      each comment in data.comments
        li
          span(style="display: block;") #{ comment.title }, #{ comment.description }
          a(href=`/comments/${ comment._id }/up-vote//toilet/${toilet._id}/visitor/${data.visitor._id}` style="display: block;") agree
          a(href=`/comments/${ comment._id }/down-vote//toilet/${toilet._id}/visitor/${data.visitor._id}` style="display: block;") disagree
