extends ../layout

block content

  h2.headline Thanks for visiting toilet #{ data.toilet.name } in #{ data.toilet.location }!

  p #{ comment.title }
  p #{ comment.description }
  p Rating: #{ comment.rating }
